:root {
  --pixel-size-silver: 2;
}

.sortName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.silver {
  width: calc(32px * var(--pixel-size-silver));
  height: calc(32px * var(--pixel-size-silver));
  overflow: hidden;
  position: relative;
}

.silver_man {
  animation: moveSilver 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size-silver));
  position: absolute;
}

.silver_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size-silver));
  height: calc(32px * var(--pixel-size-silver));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right-silver {
  top: calc(-32px * var(--pixel-size-silver));
}

.face-up-silver {
  top: calc(-64px * var(--pixel-size-silver));
}

.face-left-silver {
  top: calc(-96px * var(--pixel-size-silver));
}

.page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

@keyframes moveSilver {
  from {
    transform: translate3d(0px, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.arrowButton {
  padding: 1.5rem;

}

.highlighted {
  background-color: yellow;
  color: black;
}