.sorting-visual {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.step {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
}

.group {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: rgb(10, 158, 226);
}

.g-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    width: 3rem;

    padding: 0.25rem;

    border: 1px solid transparent;
    border-collapse: collapse;

    text-align: center;
    font-family: monospace;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}

img.offset-silver {
    left: 0px;
    top: -10px;
    user-select: none;
    pointer-events: none;
}

#implementation-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-column {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}